<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>智聊系统</h1>
    <div id="menu"></div>
    <h1>
        <?=$blogs['title']?>
    </h1>
    <p>浏览量：<span id="display"></span></p>
    <p>
        <?=$blogs['content']?>
    </p>

    <?php view('common.footer') ?>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    // 更新和获取浏览量
    // 获取当前日志的ID
    var id = "<?=$blogs['id']?>";

    // 定义接口地址
    var url = "/blog/display?id=" + id;

    // 请求这个地址
    $.ajax({
        type: "GET",
        url: url,
        dataType: 'json',
        success: function (data) {
            // 把返回的浏览量放到页面
            $("#display").html(data.display);

            var html = "<a href='/'>首页</a>";
            // 判断登录s
            if (data.email == '') {
                html += `<a href='/blog/register'>注册</a>
                        <a href='/blog/login'>登录</a>`;
            }
            else {
                html += data.email +
                    `<a href='/blog/index'>日志列表</a>
                <a href='/blog/create'>发表日志</a>
                <a href='/user/logout'>退出</a>`;
            }

            $("#menu").html(html);
        }
    });
</script>