<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .agree-list {
            border: 1px solid saddlebrown;
            padding: 0;
            text-align: center;
        }

        .agree-list h3 {
            background-color: #eeeeee;
            padding: 0;
            margin: 0;
        }

        #avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid skyblue;
            padding: 5px;
            margin-left: 20px;
        }
    </style>
</head>

<body>

    <h1>智聊系统</h1>
    <div id="menu"></div>
    <h1>
        <?=$blogs['title']?>
    </h1>
    <p>浏览量：<span id="display"></span></p>
    <p>
        <?=$blogs['content']?>
    </p>
    <img style="cursor:pointer;width: 50px;" id="btn-agree" src="/images/avatar.png" alt="">
    <div class="agree-list">
        <h3>点赞列表</h3>
        <div id="avatar-list"></div>
    </div>
    <?php view('common.footer') ?>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    // 更新和获取浏览量
    // 获取当前日志的ID
    var id = "<?=$blogs['id']?>";

    // 定义接口地址
    var url = "/blog/display?id=" + id;

    // 请求这个地址
    $.ajax({
        type: "GET",
        url: url,
        dataType: 'json',
        success: function (data) {
            // 把返回的浏览量放到页面
            $("#display").html(data.display);

            var html = "<a href='/'>首页</a>";
            // 判断登录s
            if (data.email == '') {
                html += `<a href='/blog/register'>注册</a>
                        <a href='/blog/login'>登录</a>`;
            }
            else {
                html += data.email +
                    `<a href='/blog/index'>日志列表</a>
                <a href='/blog/create'>发表日志</a>
                <a href='/user/logout'>退出</a>`;
            }

            $("#menu").html(html);
        }
    });

    $("#btn-agree").click(function () {
        $.ajax({
            type: "POST",
            url: "/blog/agreements?id=" + id,
            dataType: "json",
            success: function (data) {
                if (data.status_code == '200') {
                    alert('点赞成功');
                } else {
                    alert(data.message);
                }
            }
        });
    });

    $.ajax({
        type: 'GET',
        url: "/blog/agreements_list?id=" + id,
        dataType: 'json',
        success: function (data) {
            if (data.status == '200') {
                var html = '';
                for (var i = 0; i < data.data.length; i++) {
                    var avatar = data.data[i].avatar ? '/uploads/' + data.data[i].avatar : '/images/avatar.png';
                    html += '<img title="' + data.data[i].email + '" id="avatar" src="' + data.data[i].avatar + '" alt="">';
                    $("#avatar-list").html(html);
                }
            } 
        }
    })
</script>