<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <?php view('common.nav') ?>

    <h1>最新发表的日志</h1>
    <ul>
        <?php foreach($blog as $v): ?>
        <li>
            <a href="/contents/<?=$v['id']?>.html" target="_blank">
                <?=$v['title']?></a>
        </li>
        <?php endforeach; ?>
    </ul>

    <?php view('common.footer') ?>

    <select name="" id="alluser">
        <option value=""">选择账号</option>
    </select>
</body>
</html>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script> 
<script>
                $.ajax({
                    type: "GET",
                    url: "/tool/users",
                    dataType: "json",
                    success: function (data) {
                        if (data.status_code == 200) {
                            var html = '';
                            for (var i = 0; i < data.data.length; i++) {
                                html += '<option value="' + data.data[i].email + '">' + data.data[i].email + '</option>';
                            }
                            $("#alluser").append(html)
                        }
                    }
                });


                $("#alluser").change(function(){
                    // 获取选中的值
                    var email = $(this).val()
                    if(email != '')
                    {
                        $.ajax({
                            type:"GET",
                            url:"/tool/login?email="+email,
                            success:function(data)
                            {
                                // 刷新页面
                                location.reload();
                            }
                        })
                    }
                });
                
</script>