<?php if(isset($_SESSION['_MESS_'])): ?>

<div id="_mess_" style="border:1px solid #f00;width:100%;background-color: aquamarine">
    <?=$_SESSION['_MESS_']?>
</div>

<?php unset($_SESSION['_MESS_']) ?>

<?php endif; ?>

<script>
    var m = document.getElementById('_mess_');
    var s = 3;
    var si = setInterval(function () {
        s--;
        if (s == 0) {
            m.style.display='none';
            clearInterval(si);
        }
    }, 1000);
</script>

<h1>智聊系统</h1>
<a href="/">首页</a>
<a href="/blog/index">日志列表</a>

<?php if(isset($_SESSION['id'])): ?>
<?=$_SESSION['email']?>
<a href="/user/logout">退出</a>
<?php else: ?>
<a href="/user/register">注册</a>
<a href="/user/login">登录</a>
<?php endif; ?>

<hr>