<?php if(isset($_SESSION['_MESS_'])): ?>

<div id="_mess_" style="border:1px solid #f00;width:100%;background-color: aquamarine">
    <?=$_SESSION['_MESS_']?>
</div>

<?php unset($_SESSION['_MESS_']) ?>

<?php endif; ?>

<script>
    var m = document.getElementById('_mess_');
    var s = 3;
    var si = setInterval(function () {
        s--;
        if (s == 0) {
            m.style.display = 'none';
            clearInterval(si);
        }
    }, 1000);
</script>

<h1>智聊系统</h1>
<a href="/">首页</a>

<?php if(isset($_SESSION['id'])): ?>

<a href="/user/charge">充值</a>
<a href="/blog/index">日志列表</a>
<a href="/user/orders">充值列表</a>

<?=$_SESSION['email']?>
(<span id="money" style="color:#f00;font-weight:bold;">
    <?=$_SESSION['money']?></span>>元 <input onclick='money()' type="button" value="更新"> )

<a href="/blog/create">发表日志</a>
<a href="/user/logout">退出</a>

<?php else: ?>

<a href="/user/register">注册</a>
<a href="/user/login">登录</a>

<?php endif; ?>

<hr>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script>
    var aa = "<?=$_SESSION['money']?>";
    var id = "<?=$_SESSION['id']?>";
    var url = "/user/update_money?id=" + id;
    function money() {
        $.ajax({
            type: 'GET',
            url: '/user/update_money',
            success: function (data) {

                $('#money').html(data);
                
            }

        })
    }

</script>