<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .img-container {
            width: 500px;
            height: 500px;
            float:left;
        }
        .img-preview {
            float: left;
            overflow: hidden;
            margin-left: 20px;
        }
        .preview-lg {
            width: 240px;
            height: 240px;
        }
        .preview-md {
            width: 80px;
            height: 80px;
        }
    </style>
</head>

<body>

    <?php view('common.nav') ?>

    <h1>设置头像</h1>
    <form action="/user/setavatar" method="post" enctype="multipart/form-data">
        <?php csrf_filed() ?>
        
        <!-- 显示原图 -->
        <div class="img-container">
            <img id="image" src="" alt="Picture">
        </div>
        <!-- 预览图片 -->
        <div class="docs-preview clearfix">
            <div class="img-preview peview-lg"></div>
            <div class="img-preview preview-md"></div>
        </div>
        
        <div>
            上传头像:
            <input id="img" type="file" name="avatar">
        </div>

        <div>
            <input type="submit" value="上传">
        </div>

        <br>
            <!-- 保存裁切时的区域信息 -->
        <input type="text" name="x" id="x">
        <input type="text" name="y" id="y">
        <input type="text" name="w" id="w">
        <input type="text" name="h" id="h">
    </form>

    <?php view('common.footer') ?>
</body>

</html>

<script src="/cropper/cropper.min.js"></script>
<link rel="stylesheet" href="/cropper/cropper.min.css">
<!-- <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

<script>
    var img = document.getElementById('img');
    img.onchange = function () {
        // 获取选中的第一张图片
        var img1 = this.files[0];
        // 获取这张图片的尺寸
        var fileSize = img1.size;

        // 每块的尺寸
        var perSize = 4096;

        // 计算一下总的块数
        var count = Math.ceil(fileSize / perSize);
        
        // 为所有分片生成一个随机唯一的名字
        var name = "img_"+Math.random(1,99999);

        for (var i = 0; i < count; i++) {
            var img0 = img1.slice(i * perSize, i * perSize + perSize)
            // 创建一个FormData()
            var f = new FormData()
            // 加入到表单中
            f.append('img', img0) //图片数据
            f.append('count', count) //总的块数
            f.append('i', i) // 当前图片是第几块
            f.append('size',perSize) //每块尺寸
            f.append('img_name',name) // 名字
            // 上传到服务器
            $.ajax({
                type: 'POST',
                url: '/user/uploadbig',
                data: f,
                contentType: false,
                processData: false,
                success: function (data) {

                }
            });
        }
    }
</script> -->

<script>
        // 选中图片
        var $image = $('#image')
        
        var x = $("#x")
        var y = $("#y")
        var w = $("#w")
        var h = $("#h")
        
        // 当选择图片时触发函数
        $("#img").change(function(){
        
            /* 预览图片 */
            // this.files ： 当前选中的图片数组
            // 把选中的图片转成字符串（图片的临时地址，在浏览器中可以直接访问并显示图片）
            var url = getObjectUrl( this.files[0] )    
            // 把图片的地址设置到 img 标签的 src 属性上
            $image.attr('src', url)
        
            // 先消毁原插件 
            $image.cropper("destroy")
        
            /* 启动 cropper 插件 */
            $image.cropper({
                aspectRatio: 1,                              // 缩略图1:1的比例
                preview:'.img-preview',                      // 显示缩略图的框
                viewMode:3,                                  // 显示模式
                // 裁切时触发事件
                crop: function(event) {
                    x.val(event.detail.x);             // 裁切区域左上角x坐标
                    y.val(event.detail.y);             // 裁切区域左上角y坐标
                    w.val(event.detail.width);         // 裁切区域宽高
                    h.val(event.detail.height);        // 裁切区域高度
                }
            })
        
        });
        
        // 预览时需要使用下面这个函数转换一下(为了兼容不同的浏览器，所以要判断支持哪一种函数就使用哪一种)
        function getObjectUrl(file) {
            var url = null;
            if (window.createObjectURL != undefined) {
                url = window.createObjectURL(file)
            } else if (window.URL != undefined) {
                url = window.URL.createObjectURL(file)
            } else if (window.webkitURL != undefined) {
                url = window.webkitURL.createObjectURL(file)
            }
            return url
        }
        
        </script>