<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <?php view('common.nav') ?>

    <h1>登录</h1>
    <form action="/user/dologin" method="post">
        <input type="hidden" name="_token" value="<?=csrf()?>">
        <div>
            Email:
            <input type="text" name="email">
        </div>

        <div>
            密码：
            <input type="password" name="password">
        </div>

        <div>
            <input type="submit" value="登录">
        </div>
    </form>

    <?php view('common.footer') ?>
</body>

</html>