<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <?php view('common.nav') ?>

    <h1>注册</h1>
    <form action="/user/store" method="post">
        <div>
            Email:
            <input type="text" name="email" id="">
        </div>

        <div>
            密码：
            <input type="password" name="password" id="">
        </div>

        <div>
            <input type="submit" value="注册">
        </div>
    </form>

    <?php view('common.footer') ?>
</body>
</html>